<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主机一对多表三种方式获取</title>
    <style>
        .hide{
            display: none;
        }
        .shade{
            position: fixed;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.6;
            z-index: 100;
        }
        .delete-modal,.add-modal,.edit-modal{
            position: fixed;
            border:1px solid red;
            background-color: white;
            top:50%;
            left: 50%;
            height: 300px;
            width: 400px;
            margin-top: -150px;
            margin-left: -200px;
            z-index: 101;
        }


        .pagination .page{
            display: inline-block;
            padding: 5px;
            margin: 5px;
            background-color: aqua;
        }
        .pagination  .active {
            color: white;
            background-color: darkred !important;
        }
    </style>
</head>
<body>
    <h1>主机管理</h1>
    <div>
        <input id='add_host' type="button" value="添加"/>
    </div>
    <table border="1">
        <thead>
            <tr>
                <th>序号</th>
                <th>主机名</th>
                <th>ip</th>
                <th>端口</th>
                <th>业务线名</th>
                <th>操作</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        {%  include 'li.html' %}
        </tbody>
    </table>
    <div>
        <select id="ps" onchange="changPageSize(this)">
            <option value="5">5</option>
            <option value="10" selected="selected">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
    </div>
    <div class="pagination">
        {{ page_str }}
    </div>
    <div class="shade hide"></div>
    <div class="add-modal hide">
    <form id="add_form" method="POST" action="/host/" >
        <input   type="text" name="id" style="display: none"/>
        <input id="hostname" type="text" placeholder="主机名" name="hostname"/>
        <input id="ip" type="text" placeholder="IP" name="ip"/>
        <input id="port" type="text" placeholder="端口" name="port"/>
        <select id="sel" name="b_id">
            {% for op in b_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
            {% endfor %}
        </select>
        <div>
            <input type="submit" value="提交">
            <input id="addcancel" type="button" value="取消">
            <span id="error_msg" style="color: red"></span>
        </div>
    </form>
    </div>
    <div class="edit-modal hide">
    <form id="edit_form" method="POST" action="/host/" >
        <input   type="text" name="id" style="display:none"/>
        <input id="hostname" type="text" placeholder="主机名" name="hostname"/>
        <input id="ip" type="text" placeholder="IP" name="ip"/>
        <input id="port" type="text" placeholder="端口" name="port"/>
        <select id="sel" name="b_id">
            {% for op in b_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
            {% endfor %}
        </select>
        <div>
            <input id="ajax_submit_edit" type="button" value="确认编辑"/>
            <input id="editcancel" type="button" value="取消">
            <span id="error_msg_2" style="color: red"></span>
        </div>
    </form>
    </div>
    <div class="delete-modal hide">
    <form id="delete_form" method="POST" action="/host/" >
        <input   type="text" name="id" style="display:none"/>
        <input id="hostname" type="text" placeholder="主机名" name="hostname" readonly="readonly"/>
        <input id="ip" type="text" placeholder="IP" name="ip" readonly="readonly"/>
        <input id="port" type="text" placeholder="端口" name="port" readonly="readonly"/>
        <select id="sel" name="b_id">
            {% for op in b_list %}
                <option value="{{ op.id }}">{{ op.caption }}</option>
            {% endfor %}
        </select>
        <div>
            <input id="dele" type="submit" value="确认删除">
            <input id="deletecancel" type="button" value="取消">
        </div>
    </form>
    </div>
    <script src="/static/jquery-1.12.4.js"></script>
    {#    这个cookie是jquery的插件，必须放在jquery下面#}
    <script src="/static/jquery.cookie.js"></script>
    <script>
        $(function () {
{#            var v = $.cookie('per_page_count',{'path':'/user_list/'});#}
            var v = $.cookie('per_page_count');
            $('#ps').val(v)
        });
        function changPageSize(ths) {
{#            获取当前select选择的值#}
            var v = $(ths).val();
{#            $.cookie('per_page_count',v,{'path':"/user_list/"});#}
            $.cookie('per_page_count',v);
            location.reload();
        }
        $(function () {
            $('#add_host').click(function () {
                $('.shade,.add-modal').removeClass('hide');
            });
            $('#addcancel').click(function () {
                $('.shade,.add-modal').addClass('hide');
            });
            $('#editcancel').click(function () {
                $('.shade,.edit-modal').addClass('hide');
            });
            $('#deletecancel').click(function () {
                $('.shade,.delete-modal').addClass('hide');
            });
            $('#ajax_submit').click(function () {
                $.ajax({
                   url:'/test_ajax',
                   type:'POST',
{#                   data:{'hostname':$('#hostname').val(),'ip':$('#ip').val(),'port':$('#port').val(),'b_id':$('#sel').val(),},#}
                    //下面一句是上面一句的简写
                   data:$('#add_form').serialize(),
                   success:function (data) {
                       //后端服务器返回的字符串转化为对象
                        var obj = JSON.parse(data);
                       //如果对象中状态为True这刷新页面location.reload()，否则返回错误信息obj.error
                       if(obj.status){
                            location.reload()
                       }else{
                           $('#error_msg').text(obj.error)
                       }
                   }
               });
            });
            $('.delete').click(function () {
                $('.shade,.delete-modal').removeClass('hide');
                var bid = $(this).parent().parent().attr('bid');
                var hid = $(this).parent().parent().attr('hid');
                var hostname = $(this).parent().parent().attr('hostname');
                var ip = $(this).parent().parent().attr('ip');
                var port = $(this).parent().parent().attr('port');
                $('#delete_form').find('select').val(bid);
                $('#delete_form').find('input[name="id"]').val(hid);
                $('#delete_form').find('input[name="hostname"]').val(hostname);
                $('#delete_form').find('input[name="ip"]').val(ip);
                $('#delete_form').find('input[name="port"]').val(port);
                $('#dele').click(function () {
                    $.ajax({
                        url:'/test_delete',
                        type:'POST',
                        data:$('#delete_form').serialize(),
                        success:function (data) {
                            alert(data);
                            location.reload();
                        }
                    })
                });
            });
            $('.edit').click(function () {
                $('.shade,.edit-modal').removeClass('hide');
                var bid = $(this).parent().parent().attr('bid');
                var hid = $(this).parent().parent().attr('hid');
                var hostname = $(this).parent().parent().attr('hostname');
                var ip = $(this).parent().parent().attr('ip');
                var port = $(this).parent().parent().attr('port');
                $('#edit_form').find('select').val(bid);
                $('#edit_form').find('input[name="id"]').val(hid);
                $('#edit_form').find('input[name="hostname"]').val(hostname);
                $('#edit_form').find('input[name="ip"]').val(ip);
                $('#edit_form').find('input[name="port"]').val(port);
                $('#ajax_submit_edit').click(function () {
                    $.ajax({
                            url:'/ajax_submit_edit',
                            type:'POST',
                            data:$('#edit_form').serialize(),
                            success:function (data) {
                                //后端服务器返回的字符串转化为对象
                                var obj = JSON.parse(data);
                                //如果对象中状态为True这刷新页面location.reload()，否则返回错误信息obj.error
                                if (obj.status) {
                                    location.reload()
                                } else {
                                    $('#error_msg_2').text(obj.error)
                                }
                        }
                    })
                });
            });
        });
    </script>

</body>
</html>